{% load static %}
<html>
    <head>
        <!-- creating a global variable to access data in seperate JS file -->
        <script> var data = "{{data|escapejs}}" </script>
        <script src="{% static '/lib/jquery-3.6.3.min.js' %}"></script>
        <script src="{% static '/lib/three.js' %}"></script>     
        <script src="{% static '/lib/OrbitControls.js' %}"></script>     
        <script src="{% static '/skull_input.js' %}"></script>       
    </head>
    <body>
        <h1>we here </h1>
        {% csrf_token %}
    </body>
</html>


