{% load static %}
<html>
    <head>
        <!-- creating a global variable to access data in seperate JS file -->
        <!-- WARNING!! adding dom elements will create an offset on the canvas -->
        <script> var data = "{{data|escapejs}}" </script>
        <script src="{% static '/lib/jquery-3.6.3.min.js' %}"></script>
        <script src="{% static '/lib/three.js' %}"></script>     
        <script src="{% static '/lib/OrbitControls.js' %}"></script>     
        <script type="module" src="{% static '/skull_input.js' %}"></script>       
    </head>
    <body>
        <h1>Anatomical Point Section</h1>
        <h2 id="point_cur">Select Right Porion Point</h2>
        {% csrf_token %}
    </body>
</html>


