.page-wrapper{
    width:100%;
    height: 100%; 
    background-color: #F5F5F5;
}
.header-wrapper{
    background-color: #046f8b;;
    width: 100%; 
    padding: 2%;
    color: white;
    display: flex;
    justify-content: space-between;
    

}
.content-wrapper{
    padding: 2%;
}
.label-wrapper{
    font-weight: bold;
    margin-bottom: 2%;
}
.form-wrapper{
    display: flex;
    justify-content: space-between;
}
.submit-btn-wrapper{
    display: flex;
    justify-content: end;
    margin: 2%;
}
